@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfbf9;
  --foreground: #1c1917;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
